@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/mixins";
@import "partials/base";
@import "compass/css3";
 
#banner{
  padding: 10px;
  padding-bottom: 0px;
}
 
#logo {
  width: 24px;
  height: auto;
}
 
#logo-text {
  vertical-align: 50%;
  color: #00647D;
  font-weight: bold;
}
 
#search-input{
  width: 302px;
  vertical-align: 50%;
}
 
#search-button{
  vertical-align: 80%;
  background-color: #00647D;
  padding: 5px 12px;
  font: 13px sans-serif;
  text-decoration: none;
  border: 1px solid #000;
  border-color: #aaa #444 #444 #aaa;
  color: #FFF;
}
 
#horz-nav {
  background-color: #00647D;
  max-width: 800px;
  height: 35px;
  margin-bottom: 10px;
}
 
#horz-nav p {
  padding-top: 10px;
}
 
#horz-nav p a{
  text-decoration: none;
  color: #FFF;
  padding-left: 10px;
}
 
#horz-nav p a:hover{
  color: $orange;
}
 
#sidebar-left{
  float: left;
  width: 109px;
  padding-left: 10px;
}
 
// You'll want to define navigation width for items in the ul
 
#vert-nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.7em;
  width: 80px;
}
 
#vert-nav ul li a{
  text-decoration: none;
  color: #00647D;
}
 
#sidebar-right{
  float: right;
  width: 213px;
}
 
.right-sidebar-title{
  color: #00647D;
  font-weight: bold;
}
 
#content {
  margin: 0px 213px 0px 109px;
  padding: 0px;
}
 
#content section h2{
  margin-top: 0px;
  margin-bottom: 10px;
  color: #00647D;
  line-height: 1em;
}
 
#feature-image {
  height: auto;
  width: 100%;
  max-width: 440px;
  background: $gray;
}
 
.right-sidebar-image {
  height: 93px;
  width: 179px;
  background: $gray;
  margin: 12px 0px;
}
 
footer {
  clear: both;
  background: #00647D;
  color: #FFF;
  padding: 10px;
}
 
.left-sidebar-links {
  a {
    display: block;
    color: $main-green;
    opacity: .7;
    &:hover {
      opacity: 1;
    }
  }
}

.left-sidebar-links {
  border-bottom: 2px solid $main-green;
  &:last-child {
    border: none;
  }
}

#riddle {
  padding: 20px;
  background-color: $alice-blue;
}

#riddle-answer {
  @extend #riddle;
  margin-top: 10px;
}

%dotted-box {
  border: 2px dotted $duke-blue;
  margin: 10px 0px;
}

#riddle-answer {
  @extend %dotted-box;
}

.left-sidebar-links {
  border-color: darken($main-green, 70%);
}

#search-button:hover {
  background-color: complement($main-green);
}

#search-button:hover {
  background-color: adjust-hue($main-green, 90dg);
}

#vert-nav ul li:nth-child(1) {
  background-color: desaturate($orange, 80%);
}

#vert-nav ul li:nth-child(2) {
  background-color: saturate($orange, 80%);
}

#vert-nav ul li:nth-child(3) {
  background-color: fade-out($orange, .5);
}

#vert-nav ul li:nth-child(4) {
  background-color: fade-in($orange, .5);
}

#vert-nav ul li:nth-child(5) {
  background-color: rgba(0, 0, 200, 0.5);
}

#vert-nav ul li:nth-child(6) {
  background-color: mix($yellow, $white, 50%);
}

#vert-nav ul li:nth-child(7) {
  background-color: grayscale($orange);
}

// red green blue : 0 to 255
// Hue: 0 to 359
// Saturation: 0 to 100
// Lightness: 0 to 100
// Alpha: 0 to 1

#vert-nav ul li:nth-child(8) {
  background-color: adjust-color($main-green, $red:0, $green:40, $blue:30);
}

#vert-nav ul li:nth-child(9) {
  background-color: adjust-color($main-green, $hue:30, $saturation:40, $lightness:30, $alpha:0.2);
}

#vert-nav ul li:nth-child(10) {
  background-color: shade($yellow, 50%);
}

#vert-nav ul li:nth-child(11) {
  background-color: tint($yellow, 50%);
}

#riddle-answer {
  @include border-radius(5px);
  @include box-shadow(5px 5px 5px 2px $gray);
}

#main-title {
  @include text-shadow(rgba(blue, 0.2) 2px 2px 3px);
}

%main-green-gradient {
  @include background-image(linear-gradient(left, $main-green 80%, $white));
}

footer {
  @extend %main-green-gradient;
}

#horz-nav {
  @extend %main-green-gradient;
}

img[alt="Programming Frameworks"] {
  content: image-url('../featured-image.png');
}

#logo {
  @include scale(2,2);
  @include transform(translateX(700px) translateY(10px) scale(2,2) rotate(-45deg));
}

article p:nth-child(2) {
  @include filter(drop-shadow($gray 1px 1px 2px))
}

$riddle-color: gray;

@if $riddle-color == blue {
  #riddle {
    background-color: $alice-blue;
  }
} @else {
    #riddle {
      background-color: $ash-gray;
  }
}

$prct-yellow: 5%;

@for $i from 1 through 14 {
  #vert-nav ul li:nth-child(#{$i}) {
    background-color: mix($yellow, $white, $prct-yellow);
  }
  $prct-yellow: $prct-yellow + 5%;
}

@import "compass/utilities/tables";

$table-color: black;

.baseball-stats {
  table {
    @include table-scaffolding;
    @include inner-table-borders(4px, $table-color);
    @include outer-table-borders(4px, $duke-blue);
    @include alternating-rows-and-columns($alice-blue, $ash-gray, $table-color, $white);
  }
}